<!DOCTYPE html>
<html>
  <head>
    <title>Random Number Grid</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Random Number Grid</h1>
    <table id="grid">
      <tr>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
      </tr>
      <tr>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
      </tr>
      <tr>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
      </tr>
      <tr>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
      </tr>
      <tr>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
        <td><button class="button"></button></td>
      </tr>
    </table>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div id="score">Score: 0</div>
  </body>
</html>